
    <!--<ion-content>

      <form ng-submit="createTask(task)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="What do you need to do?" ng-model="task.title">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Create Task</button>
        </div>
      </form>

    </ion-content>-->

    <div class="modal">

    <!-- Modal content area -->
    
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Add Nodes</h1>
    </ion-header-bar>
 
    <!--Modal content area-->

    <ion-content scroll="true">

      <form ng-submit="selectNodes">

        <div class="">
          <!--<label class="item item-input">
            <input type="text" placeholder="What do you need to do?" ng-model="task.title">
          </label>-->
          <!-- {{querySuccess}} -->
        <ion-list>
        <ion-item  ng-repeat="type in querySuccess"  id ="{{type.node}}" class="button button-block {{type.status}}" ng-click="nodeClicked($event)">{{type.node}}
        </ion-item>
      </ion-list>
        </div>

        <div class="button-bar">
          <a><button class="button button-outline button-positive" ng-click="closeNewNode()">Cancel</a>
          <a><button id = "addNewNodes" class="button button-outline button-assertive" ng-click="sendQuery()">Add Nodes</a>
        </div>

<!--         <div>
        <button id="answer" class="button button-full button-clear button-dark">Press "Check Result" to see it here.</div> -->

      </form>

    </ion-content>

  </div>

  </div>