<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Liberty</title>  
    
    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="css/indexstyle.css" type="text/css" rel="stylesheet">
    <link href="css/preference.css" type="text/css" rel="stylesheet">


    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="js/d3.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body ng-app="starter" ng-controller="PreferenceController" >
  <ion-side-menus delegate-handle="handle" drag-content="false">
    <!-- Center content -->
    <ion-side-menu-content drag-content="true">
      <ion-header-bar class="bar-dark">
        <h1 class="title">Nodes</h1>
      </ion-header-bar>
      <ion-content scroll="false">
        <div class="mainBody">
        <div class="row">
          <div class="col">

      <ion-list>
        <ion-item  ng-repeat="type in nodes"  id ="{{type.node}}" class="button button-block {{type.status}}" ng-click="nodeClicked($event)">{{type.node}}
        </ion-item>
      </ion-list>
      <div class="bar bar-footer bar-light">
        <div class="title" ng-click="sendQuery($event)" >Submit</div>
      </div>
          </div>

        </div>
        </div> 
      </ion-content>
    </ion-side-menu-content>
    <!-- Right menu -->
  </ion-side-menus> 
  </body>
</html>
