<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
   
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Liberty</title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="css/graphscreenstyle.css" type="text/css" rel="stylesheet">


    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!--cordova script (this will be a 404 during development)-->
    <script src="cordova.js"></script>
    <script src="js/d3.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src = "js/googleMaps.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <script>
      function challengeResult() {
      document.getElementById("answer").innerHTML = "X2K";
    }
    </script>

  </head>

  <body ng-app="starter" ng-controller="LibertyController as liberty" >
  <ion-side-menus delegate-handle="handle" drag-content="false">

    <!--Center content-->
    <ion-side-menu-content drag-content="false">
      
      <ion-header-bar class="bar-positive">
        <h1 class="title">Liberty</h1>

        <div class = "left_menu">
          <button class="button button-icon icon ion-settings" ng-click="toogleLeftClick()">
            
          </button>
        </div>

        <div class="button_bar">
          <button class="button button-icon" ng-click="newTask()">
            Challenge Me
          </button>
          <button class="button button-icon" >
            <i class="icon ion-navicon-round"></i>
          </button> 
        </div>

      </ion-header-bar>
      
      <ion-content scroll="false"> 
        <div class="mainBody">

          <button id="createNode" class="button button-icon" ng-click="createNode()">
            <i class="icon ion-compose"> New Node </i>
          <button id="moveGraph" class="button button-icon">
            <i class="icon ion-gear-a"> Move Graph </i>
             <!--<button id="toggleMap" class="button button-icon" ng-click="toggleMap()">
            <i class="icon ion-compose">Toggle Map </i>-->      
            <button class="button button-positive button-clear"  id="nodeInformation">
              <li>Click a node to see more information here.</li>
            </button>
          <div ng-app="mymap" ng-controller="MapController as map" id="map-canvas" style="display:none;"></div>
                
        </div>


      </ion-content>
  <!-- I added the toggle button in a footer bar because I couldn't get in the header bar without affecting the 'move graph' button as well. -->
    <!-- Footer Bar -->
    <ion-footer-bar align-title="right">
      <h1 class="title"></h1>
      <div class="buttons">
              <ion-toggle toggle-class="toogle-positive" id="toggleMap" ng-checked="false" ng-click="toggleMap()">Google Map</ion-toggle><br> <!--toggle button-->
        </button>
      </div>
    </ion-footer-bar>

    </ion-side-menu-content>

   

    <!-- Left menu -->

    <ion-side-menu side="left">
      <ion-header-bar class="bar-positive">
        <h1 class="title">Settings</h1>
      </ion-header-bar>      

      <ion-content>

      <div class = "title">
          <div class="button-bar">
            <a class="button button-block link" data-link="nodes">Nodes</a>
            <a class="button button-block link" data-link="edges">Edges</a>
          </div>
          <div>
          <!-- If 'Nodes' pressed, display this.-->
            <div class="graph_info" data-link="nodes">
              <p style="text-align:center;font-size:120%;color:#444444">Node types available:</p>
             <ion-list>
               <ion-checkbox ng-model="isChecked" class="type-button"  ng-repeat="type in types" ng-checked="type.isSelected" ng-click="nodeClicked($event)" id="{{type.title}}">
                {{type.title}}
               </ion-checkbox>
             </ion-list>
            </div>
          <!-- If 'Edges' pressed, display this.-->
            <div class="graph_info" data-link="edges">
              
              <p style="text-align:center;font-size:120%;color:#444444">Select Edges</p>
             <ion-list>
              <ion-checkbox ng-model="isChecked" class="type-button" ng-repeat="label in labels" ng-checked="label.isSelected">
              {{label.title}}
              </ion-checkbox>
             </ion-list>
            </div>
          </div>
        </div>
      </ion-content>
            <div class="bar bar-footer bar-balanced">
        <div class="title" ng-click="toogleLeftClick()">Confirm</div>
      </div>
    </ion-side-menu>

  </ion-side-menus>

  </ion-side-menus>
  

<!-- Script to display node/edge types in left sidebar -->
<script type="text/javascript">
  $('.graph_info').hide();

  $('.link').click(function() {
      $('.graph_info').hide();       
      $('.graph_info[data-link=' + $(this).data('link') + ']').fadeIn({
          width: '200px'
      }, 300);
  });  
</script>
</html>