
    <!--<ion-content>

      <form ng-submit="createTask(task)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="What do you need to do?" ng-model="task.title">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Create Task</button>
        </div>
      </form>

    </ion-content>-->

    <div class="modal">

    <!-- Modal content area -->
    
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">CHALLENGE</h1>
    </ion-header-bar>
 
    <!--Modal content area-->

    <ion-content scroll="true">

      <form ng-submit="createTask(task)">

        <div class="list">
          <!--<label class="item item-input">
            <input type="text" placeholder="What do you need to do?" ng-model="task.title">
          </label>-->
          <p><font size="3"><center> Find the ship heading to Greece from a non-EU port. </center></font></p>
          <p><font size="3"><center> For this task you need to make use of filters and connections. </center></font></p>
        </div>

        <div class="button-bar">
          <a><button class="button button-outline button-positive" ng-click="closeNewTask()">Got it!</a>
          <a><button class="button button-outline button-assertive" onclick="challengeResult()">Check Result</a>
        </div>

        <div>
        <button id="answer" class="button button-full button-clear button-dark">Press "Check Result" to see it here.</div>

      </form>

    </ion-content>

  </div>

  </div>