.pane, .view {
  background-color: #FFFFFF;
}

@media (min-width: 680px) {
  .modal {
    /*top: 35%;
    right: 20%;
    bottom: 28.5%;
    left: 340px;*/
    overflow: visible;
    min-height: 120px;
    /*max-height: 90%;*/
    /*width: 300px; }*/
  .modal.ng-leave-active {
    bottom: 0; }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 44px; }
    .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
      margin-top: 0; }
  .platform-ios.platform-cordova .modal-wrapper .modal .tabs-top > .tabs, .platform-ios.platform-cordova .modal-wrapper .modal .tabs.tabs-top {
    top: 44px; }
  .platform-ios.platform-cordova .modal-wrapper .modal .has-header, .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
    top: 44px; }
  .platform-ios.platform-cordova .modal-wrapper .modal .has-subheader {
    top: 88px; }
  .platform-ios.platform-cordova .modal-wrapper .modal .has-tabs-top {
    top: 93px; }
  .platform-ios.platform-cordova .modal-wrapper .modal .has-header.has-subheader.has-tabs-top {
    top: 137px; } }

   html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
      }

    #map-canvas {
      display: none;
    }

 .item-input{
 	margin-top: 15px;
 	height: 34pt;
 	display: inline-flex;
 	border-left: none;
 	border-right: none;
 }
 .bar-secondary{
 	border: none;
 }
 .mainBody{
 	height: 500pt;
 	border-left: none;
 	border-right: none;
 }
