.selected {
    border-color: #111;
    background-color: #444;
    color: #FFFFFF; 
} 

.selected:hover {
    color: #FFFFFF;
    text-decoration: none; }

  .bar.bar-light {
    border-color: #FFFFFF;
    background-color: transparent;
    background-image: linear-gradient(deg, #ddd, #ddd 50%, transparent 50%);
    color: white;
    text: white;
  }
      .bar.bar-light .title {
      color: #99EE55; }

.col {
  margin-top: 2%!important;
}