/* Empty. Add your own CSS if you like */
a {
	text-decoration: none;
}

body {
	background-image: url("img/ICON.png");
}

#nodeInformation li {
	margin: 15px;
	display: inline;
}

.col{
	margin-top: 14.5%;
	margin-left: 40%;
	margin-right: 40%;
} 


.node {
	/*stroke: #000;*/
	stroke-width: 1.5px;
}

.link {
stroke: #999;
stroke-opacity: .6;
}

.indextitle{
	margin-top: 15%;
    text-align: center;
	font-size: 70pt;
	color: #FFFFFF;
 	//text-shadow: 0px 2px 3px #FFFFFF ;
}

.nodetext {
	font-size: 8pt;

	color: red;
}

svg { 
	position: relative;
	z-index:-2;
	border-top: 1px #EEEEEE solid;
	width: 100%;
	height: 100%;
}

.nodes-container {
	position: relative;
	margin-left: 10px;
	z-index: 2; 
	float: left;
	left: 0;
}

.mainBody-container {
	z-index: -1;
	margin: 0 auto;
	width: 80%;
	margin-top: 20px;

}

.mainBody {
	position: relative;
	z-index: 0;
	draggable: false;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	/*left: 10%;*/
}

.button_bar {
	position: fixed;
	top: 10%;
	right: 0;
}

line {
	z-index:1;
}
g.node circle{
	z-index:2;
}

.selected {
	border-color: blue;
	color: blue;
}